# Stats Service Environment Variables
SERVER_PORT=

JWT_PUBLIC_KEY=

USER_SERVICE_NAME=
USER_SERVICE_URL=
CV_SERVICE_NAME=
CV_SERVICE_URL=
PAYMENT_SERVICE_NAME=
PAYMENT_SERVICE_URL=

# Redis Configuration
REDIS_URL=

LOGO_PATH=