# Auth Service Environment Variables
SERVER_PORT=

DEV_MODE=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

USER_SERVICE_NAME=
USER_SERVICE_URL=

# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=

# Redis Configuration
REDIS_URL=

# OAuth2 Configuration
# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Facebook OAuth2
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=

# GitHub OAuth2
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=