# User Service Environment Variables
SERVER_PORT=

JWT_PUBLIC_KEY=

PASSWORD_LENGTH=
PRIVATE_CHARS=

# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=

# Cloudinary Configuration
CLOUDINARY_URL=

# User Root
ROOT_USERNAME=
ROOT_FULLNAME=
ROOT_EMAIL=
ROOT_PASSWORD=
ROOT_ROLE=
ROOT_STATUS=