# CV Service Environment Variables
SERVER_PORT=

JWT_PUBLIC_KEY=

# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=

USER_SERVICE_NAME=
USER_SERVICE_URL=

# Cloudinary Configuration
CLOUDINARY_URL=